:root {
  --background-color: #fff2e0; /* Light Theme */
  --text-color: #000;
  --icon-color: #f68537;
}

.dark {
  --background-color: #4a102a; /* Dark Theme */
  --text-color: #ffffff;
  --icon-color: #ffffff;
}

.blue {
  --background-color: #e0f4ff; /*blue theme can be use buy theme name into by create new themeToggler in main.js*/
  --text-color: #003366;
  --icon-color: #0066cc;
}

.green {
  --background-color: #e5f9e0;/*green theme can be use buy theme name into by create new themeToggler in main.js*/
  --text-color: #004d26;
  --icon-color: #00cc66;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;

  font-family: "Poppins", sans-serif;
}

#container {
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  height: 150px;
  width: 90%;
  border: 2px solid var(--text-color);
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 624px) {
  .box {
    height: 150px;
    width: 50%;
  }
}

.task_input {
  width: 100%;
  height: 50px;
  margin: 0;
  font-size: 14px;
  margin-top: 15px;
  padding-left: 10px;
  border-top: 2px solid var(--text-color);
  border-bottom: 2px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
  
}

.toggle {
  color: var(--icon-color);
  font-size: 35px;
  cursor: pointer;
}
.submit {
  padding: 6px 6px;
  background-color: var(--icon-color);
  color: var(--background-color);
  margin-left: 60%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s, opacity 0.2s;
}
.submit:hover {
  transform: translateY(-2px);
  scale: 0.9;
}
.items {
  width: 90%;
  max-height: 400px;
  min-height: 100px;
  border-radius: 15px;
  border: 2px solid var(--text-color);
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}
@media (min-width: 624px) {
  .submit {
    margin-left: 75%;
  }
  .items {
    width: 50%;
    max-height: 400px;
    min-height: 100px;
    overflow-y: auto;
  }
}
.items::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
.item-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text_show {
  white-space: nowrap; /* prevent wrapping to the next line */
  overflow: hidden; /* hide the overflow text */
  text-overflow: ellipsis;
  color: var(--text-color);
  display: flex;
  width: 95%;
  height: 40px;
  border: 2px solid var(--text-color);
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 15px;
  padding: 5px;
  margin-bottom: 15px;
}
.circle {
  font-size: 22px;
  color: var(--text-color);
  margin-right: 5px;
  cursor: pointer;
  transition: transform 0.2s, opacity 0.2s;
}
.circle:hover {
  transform: translateY(-2px);
  scale: 0.9;
}
.delete {
  font-size: 22px;
  color: var(--icon-color);
  margin-right: 5px;
  cursor: pointer;
  transition: transform 0.2s, opacity 0.2s;
}
.delete:hover {
  transform: translateX(-1px);
  scale: 0.9;
}
.icon {
  font-size: 25px;
  padding: 5px;
  color: var(--text-color);
  background-color: var(--background-color);
}
.theme_box {
  padding: 0;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
}
.theme_button {
  background-color: var(--background-color);
  transition: transform 0.2s, opacity 0.2s;
}
.theme_button:hover {
  transform: translateY(-1px);
  scale: 0.9;
}
@media (min-width: 624px) {
  .theme_box {
    padding: 0;
    height: 1px;
    width: 1px;
    top: 20px;
    right: 20px;
    position: fixed;
  }
  .theme_button {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background-color: var(--background-color);
  }
}
.theme {
  color: var(--text-color);
}
.hidden {
  display: none;
}
